@import "tailwindcss";

@theme {
  --font-archivonarrow: var(--font-archivonarrow), sans-serif;
}

@utility font-intertight-100 {
  font-family: var(--font-intertight);
  font-weight: 100;
}
@utility font-intertight-200 {
  font-family: var(--font-intertight);
  font-weight: 200;
}
@utility font-intertight-300 {
  font-family: var(--font-intertight);
  font-weight: 300;
}
@utility font-intertight-400 {
  font-family: var(--font-intertight);
  font-weight: 400;
}
@utility font-intertight-500 {
  font-family: var(--font-intertight);
  font-weight: 500;
}
@utility font-intertight-600 {
  font-family: var(--font-intertight);
  font-weight: 600;
}
@utility font-intertight-700 {
  font-family: var(--font-intertight);
  font-weight: 700;
}
@utility font-intertight-800 {
  font-family: var(--font-intertight);
  font-weight: 800;
}
@utility font-intertight-900 {
  font-family: var(--font-intertight);
  font-weight: 900;
}